/* Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #343a40;
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    color: #495057;
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus,
  select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  a {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Mensagens de Erro */
  .text-danger {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Estilo Responsivo */
  @media (max-width: 768px) {
    form {
      padding: 15px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    input,
    select,
    input[type="submit"] {
      font-size: 14px;
    }
  }